%tr
  %td= tracked_word.name
  %td= tracked_word.translations
  %td= tracked_word.searches
  %td= tracked_word.picked
  %td= tracked_word.favs
  %td= tracked_word.updated_at.to_s(:last_edited_short)
  %td
    = link_to 'Destroy', tracked_word, method: :delete, data: {confirm: 'Are you sure?'}
