- title 'Tracked Details'

.page-header
  %h1= @tracked_word.name

%p
  %strong Translations:
  = @tracked_word.translations
%p
  %strong Searches:
  = @tracked_word.searches
%p
  %strong Picks:
  = @tracked_word.picked
%p
  %strong Favs:
  = @tracked_word.favs

%br

= link_to 'Back', tracked_words_path
