%h3 Word

%br

%p
  %b Name:
  = @tracked_word.name
%p
  %b Translations:
  = @tracked_word.translations
%p
  %b Searches:
  = @tracked_word.searches
%p
  %b Picks:
  = @tracked_word.picked
%p
  %b Favs:
  = @tracked_word.favs

%br

= link_to 'Back', tracked_words_path
