- title 'Contact'

%section#contact
  %header
    %h1 Contact me

  = simple_form_for(@cf, as: :cf, url: contact_path) do |f|
    = f.error_notification

    = f.input :name, autofocus: true, required: false
    = f.input :email, required: false
    = f.input :subject, required: false
    = f.input :body, as: :text, placeholder: 'Your doubt, suggestion or whatever', input_html: { cols: 50, rows: 8 }, required: false

    .form-actions
      = f.button :submit, 'Send'
