- title 'Profile'

.row
  .span8.offset2
    .pw-user_profile
      .pw-main_header
        %span.pw-user_name= @user.name

      .row
        .offset1
          translated chars:
          %span.pw-user_profile_field  #{@user.trans_chars}
          %br
          %br
          searches:
          %span.pw-user_profile_field #{@user.searches}
          %br
          %br
          picks:
          %span.pw-user_profile_field #{@user.picked}
          %br
          %br
          favs:
          %span.pw-user_profile_field #{@user.favs}
