- title 'Profile'

%article#profile
  %header
    %p= @user.name

  #stats
    %ul
      %li
        translated chars:
        %span  #{@user.trans_chars}
      %li
        searches:
        %span #{@user.searches}
      %li
        picks:
        %span #{@user.picked}
      %li
        favs:
        %span #{@user.favs}
