%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Translations
    %th Searches
    %th Picks
    %th Favs
    %th Last edited

  - @tracked_words.each do |tracked_word|
    %tr
      %td= tracked_word.name
      %td= tracked_word.translations
      %td= tracked_word.searches
      %td= tracked_word.picked
      %td= tracked_word.favs
      %td= time_ago_in_words tracked_word.updated_at
