= simple_form_for(@picked_word, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :from_lang, collection: [:en, :ca, :es], include_blank: false, disabled: @picked_word.persisted?
    = f.input :name, disabled: @picked_word.persisted?
    = f.input :to_lang, collection: [:en, :ca, :es], include_blank: false, disabled: @picked_word.persisted?
    = f.input :translation
    = f.input :fav, as: :boolean, label: 'Favorite?'
    = f.input :tracked_id, as: :hidden

  .form-actions
    = f.button :submit
