- favs_filter, klass = favs ? [nil, 'fav'] : ['1', '']
= link_to user_picked_words_path(user, locale: locale, favs: favs_filter) do
  = badge 'fav', klass

- locale_filter = locale.to_sym
- locales.each do |locale|
  - if locale_filter == locale
    = badge locale.upcase, 'info'
  - else
    = link_to user_picked_words_path(user, locale: locale) do
      = badge locale.upcase
