%tr
  %td= picked_word.from_lang
  %td= picked_word.name
  %td= picked_word.to_lang
  %td= picked_word.translation
  %td= picked_word.fav
  %td= picked_word.searches
  %td
    = link_to 'Show', picked_word
    \|
    = link_to 'Edit', edit_picked_word_path(picked_word)
    \|
    = link_to 'Destroy', picked_word, :confirm => 'Are you sure?', :method => :delete
