%tr
  %td= picked_word.from_lang
  %td= picked_word.name
  %td= picked_word.to_lang
  %td= picked_word.translation
  %td= picked_word.fav
  %td= picked_word.searches
  %td
    = link_to 'Show', [current_user, picked_word]
    \|
    = link_to 'Edit', edit_user_picked_word_path(current_user, picked_word)
    \|
    = link_to 'Destroy', [current_user, picked_word], :method => :delete, :data => {:confirm => 'Are you sure?'}
