- cache(picked_word, expires_in: 1.hour) do
  / start of word
  .row
    .span6.offset3
      .pw-word
        %span.pw-word_name= picked_word.name
        &nbsp;&nbsp;
        %span.pw-word_trans= picked_word.translation
        %small.pull-right
          = tooltip('Fav') { badge 'f', 'fav' } if picked_word.fav
          = tooltip('Searches') { badge picked_word.searches }
        
        %br
        %br
        
        = badge picked_word.from_lang.upcase, 'info'
        = badge picked_word.to_lang.upcase, 'info'
        &nbsp;&nbsp;
        %small last edited #{picked_word.updated_at.to_s(:last_edited_short)}
        
        %br
        %br

        %span.pull-right
          = link_to 'Show', [user, picked_word]
          \|
          = link_to 'Edit', [:edit, user, picked_word]
          \|
          = link_to 'Delete', [user, picked_word], :method => :delete, :data => {:confirm => 'Are you sure?'}
  / end of word
