- cache(picked_word, expires_in: 1.hour) do
  / start of word
  %section
    %div
      %span.pw-word_name= picked_word.name
      %span.pw-word_trans= picked_word.translation
      %small
        = tooltip('Fav') { badge 'f', 'fav' } if picked_word.fav
        = tooltip('Searches') { badge picked_word.searches }

    %div 
      = badge picked_word.from_lang.upcase, 'info'
      = badge picked_word.to_lang.upcase, 'info'
      %small
        last edited
        %time= picked_word.updated_at.to_s(:last_edited_short)

    %footer 
      = link_to 'Show', [user, picked_word]
      \|
      = link_to 'Edit', [:edit, user, picked_word]
      \|
      = link_to 'Delete', [user, picked_word], method: :delete, data: {confirm: 'Are you sure?'}
  / end of word
