- cache(picked_word, expires_in: 1.hour) do
  %article{:id => "#{picked_word.id}"}
    %div
      %span.pw-word_name= picked_word.name
      %span.pw-word_trans= picked_word.translation
      %small
        - klass = picked_word.fav ? 'fav' : 'unfav'
        = tooltip('Fav', false) { badge 'f', 'fav', klass }
        = tooltip('Searches') { badge picked_word.searches, 'searches' }

    %div 
      = badge picked_word.from_lang.upcase, 'locale', 'info'
      = badge picked_word.to_lang.upcase, 'locale', 'info'
      %small
        last edited
        %time{:data => {:today => "today"}}= picked_word.updated_at.to_s(:last_edited_short)

    %footer 
      = link_to 'Show', [user, picked_word], data: {action: 'show'}
      \|
      = link_to 'Edit', [:edit, user, picked_word], data: {action: 'edit'}
      \|
      = link_to 'Delete', [user, picked_word], method: :delete, data: {action: 'delete', confirm: 'Are you sure?'}, remote: true
