- title 'Picked Words'

%section.pw-trans_form
  = render 'translation_form'

%section#pw-filters
  .pw-lang_filter
    = render 'lang_filter'

  .pw-letter_filter
    = render 'letter_filter'

%section.pw-word_list
  - if @picked_words.size == 0
    .pw-center
      %span.pw-mesg No picks found
  - else
    - cache(fragment: "#{locale}_#{letter}_picks") do
      = render @picked_words
