- title 'Pick Details'

%article#pick
  %header
    %span
      = @picked_word.name
      = badge @picked_word.from_lang.upcase, 'locale', 'info'
    %small
      = tooltip('Fav') { badge 'f', 'fav', 'fav' } if @picked_word.fav
      = tooltip('Searches') { badge @picked_word.searches, 'searches' }
      %span
        last edited
        %time= @picked_word.updated_at.to_s(:last_edited_long)

  %div
    #translation
      translation:
      %span
        = @picked_word.translation
        = badge @picked_word.to_lang.upcase, 'locale', 'info'

    - if @picked_word.contexts.size > 0
      #contexts
        %span contexts
        %div
          = render partial: 'picked_words/context',
            collection: @picked_word.contexts, as: :context,
            locals: { word: @picked_word.name, translation: @picked_word.translation }

  %footer
    = link_to 'Picks', user_picked_words_path(user)
    \|
    = link_to 'Edit', [:edit, user, @picked_word]
