-# = link_to "Pickingwords", root_path, class: 'brand'
= link_to root_path, class: 'brand' do
  Pickingwords
  %span.pw-beta beta

%ul.nav.pull-right
  %li= link_to 'Help', help_path

  - if logged_in?
    - if curr_user.has_role? :admin
      = render 'layouts/navigation_admin'

    - if curr_user.has_role? :picker
      = render 'layouts/navigation_user'

  - else
    %li= link_to 'Login', new_user_session_path
