= menu_entry 'My Picks', user_picked_words_path(user)
= menu_entry 'Profile', user, 'icon-user'
= menu_divider_v

= menu_entry 'Settings', edit_user_registration_path, 'icon-cog'
= menu_divider_v

= logout_entry 'Sign out', destroy_user_session_path
