!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= full_title(yield(:title))
    %meta{name: "description", content: "#{page_description(yield(:description))}"}
    %meta{name: "keywords", content: "#{page_keywords(yield(:keywords))}"}
    %meta{name: "author", content: "zuzu"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    #main{:role => "main"}
      .container
        .pw-content
          .row
            .span12
              = render 'layouts/messages'
              = yield

        - cache("footer", expires_in: 1.hour) do
          = render 'layouts/footer'

        - if Rails.env.development?
          .pw-debug
            = debug(params)
            = debug(session)

    = javascript_include_tag "application"
